h1
    margin-bottom: $gap20
    +ft(48, 55, 400)
    +maw($sm)
        +ft(34, 34*1.25, 400)
    +maw($xs)
        +ft(28, 28*1.25, 400)
h2
    margin-bottom: $gap20
    +ft(48, 55, 400)
    +maw($sm)
        +ft(30, 30*1.25, 400)
    +maw($xs)
        +ft(25, 25*1.5, 400)

    .page__single &
        margin-bottom: 24px
        +ft(28, 32, 700)
        &:not(:first-child)
            margin-top: 24px
        
p
    .page__single &
        +font(18, 20, 400)


.text
    &__sub
        margin-bottom: $gap40
        +ft(16, 18, 400)
        +maw($sm)
            +ft(14, 14*1.75, 400)
        +maw($xs)
            +ft(14, 14*1.5, 400)