{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.section_solutions }}
{{ with $data.homepage.section_solutions }}


<section class="section section_1" id="solutions">
    <div class="container text-center">

        <h2>
            {{ .title }}
        </h2>
        <div class="text__sub">
            {{ .sub_title }}
        </div>

        <div class="box__wrap">
            {{ range .items }}
            <figure class="box">
                <div class="box__icon">
                    {{ if .img }}
                    <img src="{{ .img | relURL }}" alt="{{ .title }}">
                    {{ end }}
                </div>
                <figcaption class="box__content">
                    <h4 class="box__title">
                        {{ .title }}
                    </h4>
                    <div class="box__text">
                       <div>
                        {{ .description }}
                       </div>
                        <a class="box__btn" href="{{ .btn.link }}"  {{ if .btn.disabled }} disabled="disabled" {{ end }}>
                            {{ .btn.label }}
                        </a>
                    </div>
                </figcaption>
            </figure>
            {{ end }}
        </div>

    </div>
</section>

{{ end }}
{{ end }}