{{ $data := index .Site.Data .Site.Language.Lang }}




<section class="section section_2" id="roadmap">
    <div class="roadmap__bg">
        <img src="{{`../images/shp1.svg`}}" width="600" height="600" alt="ALT">
        <img src="{{`../images/shp2.svg`}}" width="300" height="300" alt="ALT">
        <img src="{{`../images/shp3.svg`}}" width="150" height="150" alt="ALT">
        <img src="{{`../images/shp4.svg`}}" width="150" height="150" alt="ALT">
    </div>
    <div class="container text-center">

        <h2>
            Roadmap
        </h2>

        <div class="roadmap">
            <div class="roadmap__item">
                Socials – Website, Telegram and Twitter
                Build strong and dedicated community
                Whitepaper Launch
                Contract Renounced
                LP Locked
                Deploy multi-faceted marketing plan
            </div>
            <div class="roadmap__item">
                Socials – Website, Telegram and Twitter
                Build strong and dedicated community
                Whitepaper Launch
                Contract Renounced
                LP Locked
                Deploy multi-faceted marketing plan
            </div>
            <div class="roadmap__item">
                Socials – Website, Telegram and Twitter
                Build strong and dedicated community
                Whitepaper Launch
                Contract Renounced
                LP Locked
                Deploy multi-faceted marketing plan
            </div>
            <div class="roadmap__item">
                Socials – Website, Telegram and Twitter
                Build strong and dedicated community
                Whitepaper Launch
                Contract Renounced
                LP Locked
                Deploy multi-faceted marketing plan
            </div>
        </div>


    </div>
</section>