<!-- Modal -->
<div
  class="modal fade"
  id="modalSignIn"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <h5 class="modal-title">Log in</h5>
          <div class="modal-subtitle">
            Have no account yet?
            <button
              class="modal-link"
              data-bs-toggle="modal"
              data-bs-target="#modalSignUp"
            >
              Register
            </button>
            or
            <button
              class="modal-link"
              data-bs-toggle="modal"
              data-bs-target="#modalResetBase">
              Reset
            </button>
          </div>
        </div>

        <button
          type="button"
          data-bs-dismiss="modal"
          aria-label="Close"
          class="modal-close"
        >
          <svg class="icon" width="30" height="30">
            <use xlink:href="#close"></use>
          </svg>
        </button>
      </div>
      <form
        class="needs-validation"
        novalidate
        method="POST"
        action="/"
        name="Epicurus_LP_login"
        data-netlify="true"
      >
        <div class="modal-body">
          <div class="modal-row">
            <div class="form-label">
              <label for="login_email">Email</label>
              <div class="invalid-feedback">Format is wrong</div>
            </div>
            <div class="input-group has-validation">
              <input
                type="email"
                class="form-control"
                id="login_email"
                name="login_email"
                placeholder="name@example.com"
                required
              />
            </div>
          </div>

          <div class="modal-row">
            <div class="form-label">
              <label for="login_password">Пароль</label>
              <div class="invalid-feedback">Password is wrong</div>
            </div>
            <div class="input-group has-validation">
              <input
                type="password"
                class="form-control"
                id="login_password"
                name="login_password"
                minlength="5"
                required
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Log in</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="modalSignUp"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <h5 class="modal-title">Регистрация</h5>
          <div class="modal-subtitle">
            Уже имеете аккаунт?
            <button
              class="modal-link"
              data-bs-toggle="modal"
              data-bs-target="#modalSignIn"
            >
              Войти
            </button>
          </div>
        </div>

        <button
          type="button"
          data-bs-dismiss="modal"
          aria-label="Close"
          class="modal-close"
        >
          <svg class="icon" width="30" height="30">
            <use xlink:href="#close"></use>
          </svg>
        </button>
      </div>

      <form
        class="needs-validation"
        novalidate
        method="POST"
        action="/"
        name="Epicurus_LP_reg"
        data-netlify="true"
      >
        <div class="modal-body">
          <div class="modal-row">
            <div class="form-label">
              <label for="reg_email">Email</label>
              <div class="invalid-feedback">Format is wrong</div>
            </div>
            <div class="input-group has-validation">
              <input
                type="email"
                name="reg_email"
                class="form-control"
                id="reg_email"
                placeholder="name@example.com"
                required
              />
            </div>
          </div>

          <div class="modal-row">
            <div class="form-label">
              <label for="reg_passwrod">Пароль</label>
              <div class="invalid-feedback">Password is too short</div>
            </div>
            <div class="input-group has-validation">
              <input
                type="password"
                name="reg_password"
                class="form-control"
                id="reg_password"
                minlength="5"
                required
              />
            </div>
          </div>

          <div class="modal-row">
            <div class="form-label">
              <label for="reg_password_confirm">Повторите пароль</label>
              <div class="invalid-feedback">Password doesn’t match</div>
            </div>
            <div class="input-group has-validation">
              <input
                type="password"
                name="reg_password_confirm"
                class="form-control"
                id="reg_password_confirm"
                minlength="5"
                required
              />
            </div>
          </div>

          <div class="modal-row">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="reg_terms"
                value=""
                id="reg_terms"
                required
              />
              <label class="form-check-label" for="reg_terms">
                <span>
                  Я согласен с
                  <a href="#" traget="_blank">политикой приватности</a>
                </span>
              </label>
              <div class="invalid-feedback">
                You must agree before submitting
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">
            Зарегестрироваться
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="modalResetBase"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <h5 class="modal-title">Restore the password</h5>
          <div class="modal-subtitle">
            Have no account yet?
            <button
              class="modal-link"
              data-bs-toggle="modal"
              data-bs-target="#modalSignUp"
            >
              Register
            </button>
          </div>
        </div>

        <button
          type="button"
          data-bs-dismiss="modal"
          aria-label="Close"
          class="modal-close"
        >
          <svg class="icon" width="30" height="30">
            <use xlink:href="#close"></use>
          </svg>
        </button>
      </div>

      <form
        class="needs-validation"
        novalidate
        method="POST"
        action="/"
        name="Epicurus_LP_reset"
        data-netlify="true"
      >
        <div class="modal-body">
          <div class="modal-row">
            <div class="form-label">
              <label for="reset_email">Email</label>
              <div class="invalid-feedback">Format is wrong</div>
            </div>
            <div class="input-group has-validation">
              <input
                type="email"
                class="form-control"
                id="reset_email"
                name="reset_email"
                placeholder="name@example.com"
                required
              />
            </div>
          </div>
          <div class="modal-row">
            <div class="form-label">
              <label for="reset_password"> New password </label>
              <div class="invalid-feedback">
                Password is too short
              </div>
            </div>
            <div class="input-group has-validation">
              <input
                type="password"
                class="form-control"
                id="reset_password"
                name="reset_password"
                minlength="5"
                required
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Regenerate</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="modalReset"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <h5 class="modal-title">Restore the password</h5>
          <div class="modal-subtitle">
            Have no account yet?
            <button
              class="modal-link"
              data-bs-toggle="modal"
              data-bs-target="#modalSignUp"
            >
              Register
            </button>
          </div>
        </div>

        <button
          type="button"
          data-bs-dismiss="modal"
          aria-label="Close"
          class="modal-close"
        >
          <svg class="icon" width="30" height="30">
            <use xlink:href="#close"></use>
          </svg>
        </button>
      </div>
      <form
        class="needs-validation"
        novalidate
        method="POST"
        action="/"
        name="Epicurus_LP_reset1"
      >
        <div class="modal-body">
          <div class="modal-row">
            <div class="form-label">
              <label for="reset_email">Email</label>
              <div class="invalid-feedback">Format is wrong</div>
            </div>
            <div class="input-group has-validation">
              <input
                type="email"
                class="form-control"
                id="reset1_email"
                name="reset1_email"
                placeholder="name@example.com"
                required
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Send to email</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="modalReset2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <h5 class="modal-title">Restore the password</h5>
        </div>

        <button
          type="button"
          data-bs-dismiss="modal"
          aria-label="Close"
          class="modal-close"
        >
          <svg class="icon" width="30" height="30">
            <use xlink:href="#close"></use>
          </svg>
        </button>
      </div>
      <form
        class="needs-validation"
        novalidate
        method="POST"
        action="/"
        name="Epicurus_LP_reset2"
      >
        <div class="modal-body">
          <div class="modal-row">
            <div class="form-label">
              <label for="reset2_password"> New password </label>
              <div class="invalid-feedback">
                Password is must be more then 5 symbols
              </div>
            </div>
            <div class="input-group has-validation">
              <input
                type="password"
                class="form-control"
                id="reset2_password"
                name="reset2_password"
                minlength="5"
                required
              />
            </div>
          </div>

          <div class="modal-row">
            <div class="form-label">
              <label for="reset2_password_confirm"> New password again </label>
              <div class="invalid-feedback">Password doesn’t match</div>
            </div>
            <div class="input-group has-validation">
              <input
                type="password"
                class="form-control"
                id="reset2_password_confirm"
                name="reset2_password_confirm"
                minlength="5"
                required
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Log in</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="modalSuccessSend"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-success">
      <div class="modal-icon">
        <svg class="icon" width="60" height="60">
          <use xlink:href="#check"></use>
        </svg>
      </div>

      <div class="modal-header">
        <button
          type="button"
          data-bs-dismiss="modal"
          aria-label="Close"
          class="modal-close ms-auto"
        >
          <svg class="icon" width="30" height="30">
            <use xlink:href="#close"></use>
          </svg>
        </button>
      </div>
      <div name="Epicurus_LP_send">
        <div class="modal-body">
          <div class="modal-row text-center">
            <h5 class="modal-title mt-5 mt-lg-1 mb-3">Данные успешно отправлены</h5>
            <p>
              Для подтверждения регистрации, перейдите по ссылке, что была отправлена на указанную Вами почту!
            </p>
          </div>
        </div>
        <!-- <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Send to email</button>
        </div> -->
      </div>
    </div>
  </div>
</div>