{{ $data := index .Site.Data .Site.Language.Lang }}

<section class="section section_socials" id="socials">
    <div class="container">

        <div class="socials__wrap">

            {{ range first 6 .Site.Params.social }}
            <a class="socials socials--{{ .label }}" href="{{ .link | safeURL }}" target="_blank" rel="noopener noreferrer">
                <svg class="icon">
                    <use xlink:href="#{{ .icon }}"></use>
                </svg>
                <svg class="icon">
                    <use xlink:href="#{{ .icon_h }}"></use>
                </svg>
                <span class="socials__title">
                    {{ .title }}
                </span>
            </a>
            {{ end }}


        </div>

    </div>
</section>

